/* Mariam & Toqa */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial;
}


.home {
  height: 70vh;
  width: 100%;
  background: rgb(24, 62, 53);
}

.home-container {
  width: 80%;
  margin: auto;
}

.home-icons .fa-bars {
  display: none;
}

#about {
  height: 0px;
  width: 0px;
}

#blog {
  height: 0px;
  width: 0px;
}

#design {
  height: 0px;
  width: 0px;
}

#contact {
  height: 0px;
  width: 0px;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  top: 0px;
  background: rgba(24, 62, 53, 0.7);
  color: white;
}

.home-name {
  margin-left: 125px;
  margin-top: 30px;
}

.home-list {
  list-style: none;
  text-align: right;
  width: 85%;
  padding-right: 50px;
  margin-top: 35px;
}

.home-list li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  padding: 0px 0 4px 0;
}

.home-list li a:hover,
.home-list li a.active {
  opacity: 1;
}

.home-list li::after,
.home-list a.active::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  opacity: 0;
  background: rgb(250, 190, 40);
  transition: 0.5s;
}

.home-list li:hover::after,
.home-list a.active::after {
  width: 100%;
  height: 3px;
  opacity: 1;
}

.home-list li a {
  color: white;
  text-decoration: none;
  opacity: 0.4;
}

i {
  /* width: 30px;
  height: 30px; */
  font-size: 18px;
  cursor: pointer;
}

.home-icons {
  width: 100px;
  margin-top: 40px;
  margin-right: 115px;
}

.home-homepage {
  position: relative;
  height: 75vh;
  top: 110px;
}

.home-content {
  position: absolute;
  width: 40%;
  top: 90px;
}

.home-content h1 {
  color: white;
  font-size: 42px;
}

.home-btn {
  margin-top: 90px;
  width: 113px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.home-btn1 {
  margin-right: 9px;
  background: rgb(250, 190, 40);
}

.home-btn2 {
  background: rgb(24, 62, 53);
  border: 1px white solid;
  color: white;
}

.home-btn:hover {
  opacity: 0.5;
}

.home-images {
  position: absolute;
  right: 0;
  top: 90px;
}

.home-img1 {
  width: 500px;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: -35px;
}


.backgroundproducts {
  height: auto;
}

.productscontainer {
  width: 80%;
  margin: auto;
}

.products {
  display: flex;
  gap: 50px;
}

.part1 {
  width: 300px;
  height: auto;
  margin-top: 150px;
}

.part2 {
  margin-top: 100px;
  width: 350px;
  height: auto;
  margin-left: -30px;

  align-items: center;
  position: relative;
  margin-left: 10px;
}

.crafted {
  font-size: small;
  color: rgb(77, 73, 73);
  margin: 20px 0;
  line-height: 20px;
}

.explore {
  border-radius: 35px;
  color: rgb(248, 243, 243);
  background-color: rgb(11, 11, 11);
  margin: 20px;
  width: 100px;
  padding: 10px;
  margin-left: -10px;
  cursor: pointer;
  border: 0;
}

.explore:hover {
  opacity: 0.6;
}

#hiddenbutton {
  margin-left: -70px;
  visibility: hidden;
  margin-top: -70px;
  position: absolute;
  bottom: -20px;
  /*3shan ykon tht elkalam*/
  left: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(8, 8, 8);
  color: rgb(248, 243, 243);
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.part2:hover #hiddenbutton {
  border-radius: 100%;
  width: 40px;
  opacity: 1;
  visibility: visible;
  margin-bottom: 30px;
}

.photo {
  justify-content: center;
  width: 60%;
  height: 250px;
  transition: transform 0.3s ease;
  /* 3shan tkbr bshakl 7elw */
}

.part2::after {
  position: absolute;
  content: " ";
  width: 100%;
  opacity: 0;
  background: rgb(200, 220, 206);
  margin-left: -50px;
  top: 100px;
  z-index: -1;
  height: 150px;
}

.photo::before {
  content: " ";
  /* /Lazem a7taha/ */
  transition: opacity 0.3s ease;
}

.part2:hover::after {
  width: 100%;
  height: 72%;
  opacity: 0.5;
  border-radius: 25px;
}

.part2:hover .photo {
  transform: scale(1.152);
  /* /tkbr b mo3dl eh/ */
}

.textdecoration {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  font-size: large;
  text-align: center;
  margin-left: -110px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.part2:hover .textdecoration {
  opacity: 1;
  visibility: visible;
}

/* Mariam & Toqa */


/* Mariam */
.sofacontainer {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.main-h1 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  width: 60%;
}

.feature {
  padding: 20px;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*.circle {
    width: 30px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: 10px;
}*/

.feature i {
  font-size: 30px;
  margin-bottom: 20px;
}

.feature-h2 {
  position: relative;
  left: 100px;

}

.feature-h3 {
  position: relative;
  left: 69px;

}

.feature-h4 {
  position: relative;
  left: 70px;
}

.feature-h5 {
  position: relative;
  left: 106px;
}


.feature-h2,
.feature-h3,
.feature-h4,
.feature-h5 {
  margin-bottom: 10px;
  margin-top: 1px;
  font-size: 20px;
  font-weight: bold;
}

.sofa1 {
  position: relative;
  width: 35%;
}

#mlk {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.sofa1:hover img {
  transform: scale(1.09);
}

.dot {
  position: absolute;
  top: -30px;
  right: -60px;
  z-index: -1;
}

.sofacontainer {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.main-h1 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 60%;
}

.feature {
  padding: 20px;
  font-size: 18px;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: cadetblue;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
}

.fa-truck,
.fa-shopping-bag,
.fa-gg-circle,
.fa-retweet {
  font-size: 30px;
  position: relative;
  margin-left: -400px;
  margin-bottom: 20px;
  margin-top: -10px;
  left: 15px;
}

.fa-truck {
  left: 70px;
  top: 11px;
}

.fa-shopping-bag {
  left: 70px;
  top: 11px;
}

.fa-gg-circle {
  left: 70px;
  top: 13px;
}

.fa-retweet {
  left: 70px;
  top: 13px;
}

.feature-h2,
.feature-h3,
.feature-h4,
.feature-h5 {
  margin-bottom: 10px;
  margin-left: -300px;
  font-size: 20px;
  font-weight: bold;

}

.sofa1 {
  position: relative;
  width: 35%;
}

#mlk {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.sofa1:hover img {
  transform: scale(1.09);
}

.dot {
  position: absolute;
  top: -30px;
  right: 250px;
  z-index: -1;
}


#hicons {
  transition: transform 0.5s ease;
}

.fa-truck:hover {
  transform: scale(1.5);
}

.fa-shopping-bag:hover {
  transform: scale(1.5);
}

.fa-gg-circle:hover {
  transform: scale(1.5);
}

.fa-retweet:hover {
  transform: scale(1.5);
}



/* Mariam */

/* Amr */


.grid-con-all {
  position: relative;
  width: 100%;
  height: 800px;
}

.dots {
  /* remove z index */
  position: absolute;
  left: 40px;

  top: 45px;
}

.corsy1 {
  /* remove z index */
  position: absolute;
  bottom: 349px;
  top: 100px;
  left: 165px;
}

.corsy2 {
  z-index: 1;
  position: absolute;
  bottom: 295px;
  left: 507px;
  width: 173px;
  top: 300px;
}

.corsy3 {
  z-index: 2;
  position: absolute;
  left: 612px;
  bottom: 676px;
  top: 100px;
}

.we-help {
  position: absolute;
  bottom: 574px;
  left: 869px;
  font-size: medium;
  top: 100px;
}

.list1 {
  position: absolute;
  bottom: 250px;
  left: 850px;
  font-size: large;

}

.list2 {
  position: absolute;
  bottom: 250px;
  left: 1180px;
  font-size: large;
}

.explore1 {
  position: absolute;
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: 10px 20px;
  bottom: 160px;
  left: 865px;
  height: 50px;
}

.corsy1-wid,
.corsy2-wid,
.corsy3-wid {
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.corsy1:hover img,
.corsy2:hover img,
.corsy3:hover img {
  transform: scale(1.03);
}

/* Amr */

/* Marwan */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EFF2F1;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.recent-view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.section-title-recent {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
}

.view-all-posts-container {
  text-align: right;
}

.view-all-posts {
  display: inline;
  color: #000;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.view-all-posts:hover {
  color: #007bff;
}


.blog-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.blog-card .card-img-top {
  height: auto;
  object-fit: cover;
}

.blog-card .card-body {
  background-color: #f4f6f9;
}


.testimonial {
  text-align: center;
  padding: 2rem;
  background-color: transparent;
}

.testimonial-quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-quote {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  color: #000;
  line-height: 1.5;
}

.testimonial-quote.active {
  border: 2px solid #007bff;
  padding: 1rem;
  border-radius: 8px;
  background-color: #e9f7ff;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
}

.testimonial-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
  color: #000;
}

.testimonial-position {
  color: #545b60;
  font-size: 0.9rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(71, 90, 71);
  ;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(71, 90, 71);
  ;
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgb(71, 90, 71);
  ;
  color: #fff;
}


.carousel-indicators button {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: rgb(71, 90, 71);
  ;
}


.image-card {
  display: flex;
  align-items: center;
  background-color: #f4f6f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px #f4f6f9;
  position: relative;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

.image-card:hover {
  transform: translateY(-5px);
}

.image-background {
  position: relative;
  width: 100px;
  height: 100px;
  background: url('Rectangle\ 10.png') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.main-image {
  position: absolute;
  top: -2%;
  left: -2%;
  width: 105%;
  height: 105%;
  object-fit: cover;
  transform: translate(0%, 0%);
  z-index: 0;
}

.image-text {
  color: #000;
  flex: 1;
  z-index: 1;
}

.image-text h5 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.image-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #545b60;
}

/* Marwan */

















/* Peter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* footer styling */

/* General Styles */
.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


footer {
  font-family: "Inter", sans-serif;
  background-color: white;
  position: relative;
}

/* Subscribe Form */
.subscribe-form {
  padding: 20px;
  margin-left: 45px;
}

.subscribe-form div {
  margin: 10px 40px;
  transform: scale(1.2);
}


footer input {
  border: solid #d4d4d4 1px;
  border-radius: 5px;
  height: 25px;
  text-align: left center;
  padding-left: 5px;
}

input::placeholder {
  font-size: 10px;
  text-align: left center;
  position: absolute;
  top: 5px;
  padding: 2px 10px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: -9px;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d9d9d9;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.icon:hover {
  background-color: #1e413e;
  color: white;
}

/* Send Button */
.send-button {
  background-color: #35736e;
  color: white;
  border: none;
  width: 35px;
  height: 30px;
  border-radius: 25%;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-left: 15px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #1e413e;
}

/* Labels */
.label {
  width: fit-content;
  transition: text-shadow 0.5s ease;
  position: relative;
  left: -98px;
  padding: 0px 38px;
}

.label:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.label::before {
  content: "\f0e0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #d4d4d4;
  margin-right: 8px;
  transition: text-shadow 0.5s ease;
  transition: color 0.5s ease;
}

.label:hover::before {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #0d807a;
}

/* Sofa Image */
.sofa {
  position: absolute;
  top: -17%;
  right: 0%;
  /* width: 100px; */
  height: auto;
  z-index: 50;
  transform: scale(0.8);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.sofa:hover {
  transform: scale(0.85);
  opacity: 0.9;
}

/* Footer Options */
.footer-options {
  display: flex;
  gap: 50px;
  margin-left: -11px;
}

.footer-text,
.long-text {
  margin: 5px;
  padding: 5px;
  color: #7e7e7e;
  line-height: 1.6;
}

/* End Section */
.end {
  display: flex;
  padding: 10px;
  color: #7e7e7e;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.terms-privacy {
  margin: 11px;
  position: relative;
}

.footer-info {
  margin-top: 111px;
}

hr {
  margin-top: 20px;
  margin-left: -5px;
}

.footer-text-element {
  transition: color 0.5s ease;
  cursor: pointer;
}

.footer-text-element:hover {
  color: #aab1b7;
}

.terms {
  margin-left: 30px;
  transition: color 0.5s ease;
  cursor: pointer;
  display: inline-block;
}

.terms:hover {
  /* color: #000000; */
  color: #aab1b7;
}

.copyright::before {
  content: "\00A9";
  margin-right: 5px;
}

/* Peter */
body.dark-mode {
  background-color: #000;
  color: #fff;
}


body.dark-mode .carousel-control-prev,
body.dark-mode .carousel-control-next {
  background-color: rgb(51, 51, 51);
  /* Darker background for carousel controls */
}

body.dark-mode .carousel-indicators button {
  background-color: #fff;
  /* Change carousel indicators to white */
}

body.dark-mode .carousel-indicators .active {
  background-color: #007bff;
  /* Change active indicator color */
}

body.dark-mode .image-card {
  background-color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .blog-card .card-body {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .testimonial {
  background-color: #000000;
}

body.dark-mode .testimonial-quote {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .image-text {
  color: #fff;
}

body.dark-mode footer {
  background-color: black;
}


/* Styles for the Dark Mode Toggle Button */
.dark-mode-toggle {
  position: absolute;
  top: 20px;
  /* Distance from the top */
  right: 20px;
  /* Distance from the right */
  padding: 10px 20px;
  background-color: #183E35;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1000;
  /* Ensure the button is above other elements */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle:hover {
  background-color: #112b25;
}

/*Responsive*/
@media(max-width: 1920px) {
  .label {
    padding-left: 17px;
  }
}

@media(max-width: 1285px)
{
  .label {
    padding-left: 38px;
  }
}

@media (max-width: 1190px) {
  .footer-options {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-form {
    margin: 0;
    padding: 10px;
  }

  .social-icons {
    flex-direction: row;
    justify-content: center;
  }

  .sofa {
    position: absolute;
    top: -8%;
    right: 0%;
    width: 37%;
  }


  .label {
    font-size: 14px;
    margin: 20px auto;
    padding: 0 48px;
  }

  .footer-text-element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  h1 {
    text-align: center;
  }
}

@media (max-width: 997px) {
  .sofa {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer-options {
    gap: 10px;
  }

  .footer-text {
    font-size: 12px;
  }

  .send-button {
    font-size: 14px;
    height: 35px;
  }

  .icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .label {
    font-size: 12px;
    margin: 15px auto;
    padding: 0 88px;
  }

  .terms {
    margin: auto;
  }

  .footer-text-element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .sofa {
    display: none;
  }
}

@media (max-width: 395px) {
  .subscribe-form button {
    margin-top: 10px;
    margin-left: 80px;
  }
}

/*peter*/

/*Mariam saeed*/
@media (max-width: 768px) {
  .products {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .part1,
  .part2 {
    width: 420px;
  }

  .textdecoration {
    font-size: 14px;
    margin-bottom: 40px;
    margin-right: 70px;
  }

  .part2:hover::after {
    content: "";
    width: 390px;
    height: 320px;
    margin-top: -60px;

  }

  .crafted {
    width: 100%;
    line-height: 20px;
    padding: 10px;
  }

  #hiddenbutton {
    margin: -100px;

  }
}

/*Mariam saeed*/

/*amr*/
@media(max-width:1286px) {
  .grid-con-all {
    position: relative;
    width: 100%;
    height: 1000px;
  }

  .dot-wid {
    width: 230px;
  }

  .corsy1-wid {
    width: 373px;
  }

  .corsy2-wid {
    width: 275px;
  }

  .corsy3-wid {
    width: 172px;
  }

  .dots {
    /* remove z index */
    position: absolute;
    left: 40px;
    top: 45px;
  }

  .corsy1 {
    /* remove z index */
    position: absolute;
    bottom: 349px;
    top: 96px;
    left: 143px;
  }

  .corsy2 {
    z-index: 1;
    position: absolute;
    bottom: 313px;
    left: 464px;
    width: 173px;
    top: 284px;
  }

  .corsy3 {
    z-index: 2;
    position: absolute;
    left: 553px;
    bottom: 676px;
    top: 94px;
  }

  .we-help {
    position: absolute;
    bottom: 574px;
    left: 774px;
    font-size: medium;
    top: 100px;
  }

  .list1 {
    position: absolute;
    bottom: 494px;
    left: 743px;
    font-size: medium;

  }

  .list2 {
    position: absolute;
    bottom: 492px;
    left: 975px;
    font-size: medium;
  }

  .explore1 {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px 20px;
    bottom: 420px;
    left: 806px;
    height: 40px;
  }

  .corsy1-wid,
  .corsy2-wid,
  .corsy3-wid {
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  .corsy1:hover img,
  .corsy2:hover img,
  .corsy3:hover img {
    transform: scale(1.03);
  }

}

/* -----------res-3--------------- */

@media(max-width:1270px) {
  .grid-con-all {
    position: relative;
    width: 100%;
    height: 1000px;
  }

  .dot-wid {
    width: 196px;
  }

  .corsy1-wid {
    width: 335px;
  }

  .corsy2-wid {
    width: 237px;
  }

  .corsy3-wid {
    width: 150px;
  }

  .dots {

    position: absolute;
    left: 40px;
    top: 45px;
  }

  .corsy1 {

    position: absolute;
    bottom: 349px;
    top: 87px;
    left: 127px;
  }

  .corsy2 {
    z-index: 1;
    position: absolute;
    bottom: 302px;
    left: 395px;
    width: 173px;
    top: 276px;
  }

  .corsy3 {
    z-index: 2;
    position: absolute;
    left: 485px;
    bottom: 676px;
    top: 94px;
  }

  .we-help {
    position: absolute;
    bottom: 574px;
    left: 683px;
    font-size: small;
    top: 100px;
  }

  .list1 {
    position: absolute;
    bottom: 566px;
    left: 647px;
    font-size: small;

  }

  .list2 {
    position: absolute;
    bottom: 566px;
    left: 864px;
    font-size: small;
  }

  .explore1 {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px 20px;
    bottom: 480px;
    left: 688px;
    height: 40px;
  }

  .corsy1-wid,
  .corsy2-wid,
  .corsy3-wid {
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  .corsy1:hover img,
  .corsy2:hover img,
  .corsy3:hover img {
    transform: scale(1.03);
  }
}

@media(max-width:1085px) {
  .grid-con-all {
    position: relative;
    width: 100%;
    height: 1400px;
  }

  .dots {
    /* remove z index */
    position: absolute;
    left: 40px;
    top: 45px;
    width: 57px;
  }

  .dot-wid {
    width: 197px;
  }

  .corsy1-wid {
    width: 291px;
  }

  .corsy2-wid {
    width: 200px;
  }

  .corsy3-wid {
    width: 132px;
  }

  .corsy1 {
    /* remove z index */
    position: absolute;
    bottom: 349px;
    top: 88px;
    left: 126px;

  }

  .corsy2 {
    z-index: 1;
    position: absolute;
    bottom: 227px;
    left: 382px;
    width: 173px;
    top: 259px;
  }

  .corsy3 {
    z-index: 2;
    position: absolute;
    left: 440px;
    bottom: 684px;
    top: 106px;
  }

  .we-help {
    position: absolute;
    bottom: -127px;
    left: 40px;
    font-size: small;
    top: 710px;
    top: 522px;

  }

  .list1 {
    position: absolute;
    bottom: 2px;
    left: 40px;
    top: 747px;
    font-size: medium;

  }

  .list2 {
    position: absolute;
    bottom: 2px;
    left: 300px;
    top: 751px;
    font-size: medium;
  }

  .explore1 {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 50px;
    /* padding: 10px 20px; */
    bottom: 20px;
    left: 200px;
    top: 947px;
  }

  .corsy1-wid,
  .corsy2-wid,
  .corsy3-wid {
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  .corsy1:hover img,
  .corsy2:hover img,
  .corsy3:hover img {
    transform: scale(1.03);
  }

}

@media(max-width:552px) {
  .grid-con-all {
    position: relative;
    width: 100%;
    height: 1000px;
  }

  .dots {
    /* remove z index */
    position: absolute;
    left: 40px;
    top: 45px;
    width: 57px;
  }

  .dot-wid {
    width: 143px;
  }

  .corsy1-wid {
    width: 240px;
  }

  .corsy2-wid {
    width: 154px;
  }

  .corsy3-wid {
    width: 104px;
  }

  .corsy1 {
    /* remove z index */
    position: absolute;
    bottom: 349px;
    top: 77px;
    left: 103px;

  }

  .corsy2 {
    z-index: 1;
    position: absolute;
    bottom: 227px;
    left: 298px;
    width: 173px;
    top: 229px;
  }

  .corsy3 {
    z-index: 2;
    position: absolute;
    left: 359px;
    bottom: 684px;
    top: 98px;
  }

  .we-help {
    position: absolute;
    bottom: -127px;
    left: 40px;
    font-size: small;
    top: 482px;

  }

  .list1 {
    position: absolute;
    bottom: 2px;
    left: 25px;
    top: 726px;
    font-size: small;

  }

  .list2 {
    position: absolute;
    bottom: 2px;
    left: 247px;
    top: 725px;
    font-size: small;
  }

  .explore1 {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px 20px;
    bottom: 20px;
    left: 190px;
    top: 915px;
    padding-bottom: 35px;
  }

  .corsy1-wid,
  .corsy2-wid,
  .corsy3-wid {
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  .corsy1:hover img,
  .corsy2:hover img,
  .corsy3:hover img {
    transform: scale(1.03);
  }

}

/*amr*/

/*toqa*/
@media (max-width: 960px) {
  .home-images {
    margin-right: 30px;
    transition: 0.5s;
  }

  .home-img1 {
    width: 400px;
    top: -25px;
    transition: 0.5s;
  }

  .home-img2 {
    width: 200px;
    transition: 0.5s;
  }

  .home-content h1 {
    font-size: 35px;
    transition: 0.5s;
  }

  .home-btn {
    width: 90px;
    height: 40px;
    transition: 0.5s;
  }

  .home-container {
    width: 100%;
    transition: 0.5s;
  }

  .home-homepage {
    padding: 0 5%;
    transition: 0.5s;
  }

  .home-name {
    margin-left: 40px;
    transition: 0.5s;
  }
}

@media(max-width:973px) {
  .home-icons .fa-bars {
    display: inline;
  }

  .home-list {
    position: absolute;
    top: 50%;
    right: -100%;
    width: 300px;
    height: auto;
    background: rgb(31, 82, 70);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    transition: all 0.55s ease;
    border-radius: 20px;
  }

  .home-list a {
    margin-left: 0;
    display: block;
    margin: 10px 0;

  }

  .home-list.open {
    right: 0;
  }
}


@media (max-width: 666px) {
  .home-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-content {
    position: relative;
    width: 80%;
    top: 0;
    margin-bottom: 40px;
    text-align: center;
  }

  .home-images {
    position: relative;
    right: 0;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-img1 {
    width: 300px;
    margin-bottom: 10px;
    position: absolute;
    top: -12px;
    right: -120px;
  }

  .home-img2 {
    position: absolute;
    width: 180px;
    right: -120px;
  }

}

/*toqa*/

/*mariam*/

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .sofa1 {
    width: 50%;
    margin: 20px auto;
  }

  .dot {
    right: -30px;
    top: 0;
  }
}

@media (max-width: 768px) {
  .main-h1 {
    font-size: 28px;
  }

  .feature-h2,
  .feature-h3,
  .feature-h4,
  .feature-h5 {
    font-size: 18px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .sofa1 {
    width: 70%;
  }

  .dot {
    right: -20px;
    top: 10px;
  }
}

@media (max-width: 480px) {
  .main-h1 {
    font-size: 24px;
  }

  .feature-h2,
  .feature-h3,
  .feature-h4,
  .feature-h5 {
    font-size: 16px;
  }

  .grid-container {
    grid-gap: 20px;
  }

  .circle {
    left: -15px;
  }

  .sofa1 {
    width: 100%;
  }

  .dot {
    display: none;
    /* Hide dot image on small screens */
  }

}

/*mariam*/
